<footer class="py-16 px-4 bg-dark-blue">
    <div class="container mx-auto">
        <div class="lg:grid lg:grid-cols-3">
            <div class="lg:max-w-[411px]">
                <div>
                    <a href="{{ site.BaseURL }}" class="w-[158px] h-10 object-contain block"><img src="{{ site.Params.logo | relURL }}" alt="{{ site.Title }} Logo" class="size-full object-contain"></a>
                </div>
                <div class="space-y-7 mt-5 hidden">
                    <p class="font-urbanist font-medium leading-7 tracking-[1%] text-white/60">Slowyn Games is built on a decentralized production model, designed to offer flexibility, responsiveness, and instant access to top specialized talent from around the world.</p>
                    <div class="flex items-center gap-x-6">
                        <div>
                            <a href="" target="_blank" rel="noopener noreferrer" class="size-5 block hover:scale-110 transition-transform"><img src='{{ "images/dev/facebook-icon.svg" | relURL }}' class="size-full object-contain"></a>
                        </div>
                        <div>
                            <a href="" target="_blank" rel="noopener noreferrer" class="size-5 block hover:scale-110 transition-transform"><img src='{{ "images/dev/linkedin-icon.svg" | relURL }}' class="size-full object-contain"></a>
                        </div>
                        <div>
                            <a href="" target="_blank" rel="noopener noreferrer" class="size-5 block hover:scale-110 transition-transform"><img src='{{ "images/dev/twitter-icon.svg" | relURL }}' class="size-full object-contain"></a>
                        </div>
                        <div>
                            <a href="" target="_blank" rel="noopener noreferrer" class="size-5 block hover:scale-110 transition-transform"><img src='{{ "images/dev/instagram-icon.svg" | relURL }}' class="size-full object-contain"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-10 lg:mt-0 font-urbanist font-medium text-lg leading-6 text-white">
                <strong>Quick Links</strong>
                <ul class="mt-5 flex lg:flex-col lg:gap-y-3">
                    {{ $menu_len := (len site.Menus.footer) }}
                    {{ range $i, $p := site.Menus.footer }}
                    <li><a href="{{ $p.URL }}" class="text-white/60 hidden lg:block">{{ $p.Name }}</a></li>
                    {{ if eq (add $i 1) $menu_len }}
                    <li><a href="{{ $p.URL }}" class="text-white/60 lg:hidden">&nbsp;{{ $p.Name }}</a></li>
                    {{ else }}
                    <li><a href="{{ $p.URL }}" class="text-white/60 lg:hidden">&nbsp;{{ $p.Name }} |</a></li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
            <div class="mt-10 lg:mt-0 max-w-[341px]">
                <strong class="font-urbanist font-medium text-lg leading-6 text-white">Contact Us</strong>
                <div class="mt-5">
                    <div class="flex gap-x-5">
                        <div>
                            <div class="size-8">
                                <img src='{{ "images/dev/email-icon.svg" | relURL }}' class="size-full object-contain">
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <p class="font-urbanist font-semibold text-[13px] tracking-[4%] text-white/60 uppercase">Email Us</p>
                            <a href="mailto:contact@slowyngames.com" class="font-urbanist font-semibold text-white">contact@slowyngames.com</a>
                        </div>
                    </div>
                    <div class="flex gap-x-5 mt-5">
                        <div>
                            <div class="size-8">
                                <img src='{{ "images/dev/location-icon.svg" | relURL }}' class="size-full object-contain">
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <p class="font-urbanist font-semibold text-[13px] tracking-[4%] text-white/60 uppercase">Location<p>
                            <p class="font-urbanist font-semibold text-white">SLOWYN GAMES <br> 60 rue François 1er <br> 75008 – Paris <br> France</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-16 bg-white/10 py-[1px] w-full"></div>

        <div class="flex flex-col lg:flex-row-reverse justify-center lg:justify-between items-center gap-y-5 font-urbanist font-medium text-lg leading-6 text-white/60">
            <ul class="flex">
                <li><a href="">Copyright |</a></li>
                <li><a href="">&nbsp;Privacy Policy |</a></li>
                <li><a href="">&nbsp;Terms and Condition</a></li>
            </ul>
            <p>© 2025 Slowyn Games. All Rights Reserved.</p>
        </div>
    </div>
</footer>